

/*
progressbar {
  font-size: smaller;
  color: alpha(@theme_button_foreground_normal_breeze,0.3);
}

progressbar.horizontal trough, progressbar.horizontal progress {
  min-height: 4px;
}

progressbar.vertical trough, progressbar.vertical progress {
  min-width: 4px;
}

progressbar trough {
  border: 1px solid;
  border-radius: 0.75mm;
  background: linear-gradient(alpha(@theme_button_foreground_normal_breeze,0.1),alpha(@theme_button_foreground_normal_breeze,0.1)), linear-gradient(@theme_bg_color_breeze,@theme_bg_color_breeze);
  border-color: alpha(@theme_button_foreground_normal_breeze,0.2);
}
*/

/*  linear-gradient(alpha(@theme_button_decoration_hover_breeze,0.5),alpha(@theme_button_decoration_hover_breeze,0.5)), linear-gradient(@theme_bg_color_breeze,@theme_bg_color_breeze);
progressbar progress {
  border: 1px solid;
  margin: -1px;
  border-radius: 0.75mm;
  box-shadow: none;
  color: cyan;
border: 1px solid @theme_button_decoration_hover_breeze;
}
*/

/*
progressbar:backdrop progress {
  background: cyan;
  border-color: @theme_unfocused_selected_bg_color_breeze;
}
*/

/*
progressbar.osd {
  background-color: transparent;
}
*/

/* normally it is :root {} */
* {
  --program-bg-clr: #2a2e32;
  --puzzle-bg-clr: #232a31;
  --puzzle-bg-hover-clr: #393f44;
/*  --puzzle-bg-select-clr: #2f4153;*/
  --puzzle-grid-brdr-clr: #075062;
  --puzzle-grid-brdr-clr-slctd: #2399b1;
  --puzzle-grid-bg-clr: lighter(#2a2e32);
  --puzzle-grid-bg-clr-slctd: lighter(var(--puzzle-grid-bg-clr));
  --puzzle-image-bg-clr: #031528;
}


/* Sidebar grid. */
.pt-sidebar {
  background-image: none;
  background-color: #010531;
}

/* Sidebar button.
   prefix .pt (for puzzle table) is needed because above button.sidebar is used
*/
.pt-sidebar-category-button {
  background-image: none;
  background-color: #010531;
}

/* Label of the sidebar button */
.pt-sidebar-category-label {
  color: #a3d4fd;
  font-size: 1em;
  margin-left: 5px;
}

/* the sidebar grid of the expander child */
/*
.pt-sidebar-expander {
  border-top-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
}
*/

/* Several versions of color choices to show containers found in
   another data table root
*/
.pt-sidebar-expander-ptr0 {
  background-image: none;
  background-color: #22002d;
  color: #e291fd;
}

/*
.pt-sidebar-expander-ptr0 > box > title > label {
  font-size: 1.5em;
}
*/

expander-widget box title label {
  background-image: none;
  font-size: 1.3em;
}

.pt-sidebar-expander-ptr1 {
  background-color: #002411;
  color: #02ff35;
}

.pt-sidebar-expander-ptr2 {
  background-color: #451300;
  color: #ff8827;
}

.pt-sidebar-expander-ptr3 {
  background-image: none;
  background-color: #4d004d;
  color: #fa33ed;
}

.pt-sidebar-expander-ptr4 {
  background-image: none;
  background-color: #000524;
  color: #7f7dff;
}

.pt-sidebar-expander-ptr5 {
  background-image: none;
  background-color: #3f4a01;
  color: #fffb11;
}

.pt-sidebar-expander-ptr6 {
  background-image: none;
  background-color: #014a41;
  color: #4ed6ff;
}

.pt-sidebar-expander-button {
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

/* The label in the expander */
.sidebar-root-expander-label {
  font-size: 1.4em;

  background-image: none;
  background-color: #090049;
  color: #bac6f8;
}

.pt-sidebar-container-button {
  background-image: none;
  background-color: #250130;  
}

.pt-sidebar-container-label {
  color: #dea9ff;
  margin-left: 17px;  
}




.puzzle-dialog {
  /*padding: 15px;*/
  font-size: 1.2em;
}

entry > .text, dropdown, .text-button {
  background-image: none;
  background-color: #4e4c4c;

  padding: 3px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-radius: 3%;
  border-style: solid;
  border-color: #888;
} 


/*
.sidebar-label label {
  color: rgb(4, 4, 168);
}

*/

.toolbar-icon {
  -gtk-icon-size: 48px;
}

.status-bar {
  background-image: none;
  background-color: #4e4c4c;

  padding: 3px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-radius: 3%;
  border-style: solid;
}

/*
windowcontrols image.icon {
  background: url('/home/marcel/.config/io.github.martimm.puzzle-table/images/start-puzzle-64.png');
}
*/


/*
#puzzle-dialog {
  background-color: #b0b0b0;
  color: black;
}
*/




.puzzle-table {
  padding: 10px;
}

.puzzle-grid {
  background-color: inherit;
}

.puzzle-grid child {
  border-width: 4px;
  /*border-color: var(--puzzle-grid-brdr-clr);*/
}
  
.puzzle-grid child grid {
  background-color: var(--puzzle-grid-bg-clr);
  border-color: lighter(var(--puzzle-grid-brdr-clr));
}
/*
*/

.puzzle-grid child:selected grid {
  border: 4px solid lighter(var(--puzzle-grid-brdr-clr-slctd));
  background-color: var(--puzzle-grid-bg-clr-slctd);
  /*
  background-color: 
  border-top-color: var(--puzzle-grid-brdr-clr-slctd);
  border-right-color:var(--puzzle-grid-brdr-clr-slctd);
  border-left-color:var(--puzzle-grid-brdr-clr-slctd);
  border-bottom-color:var(--puzzle-grid-brdr-clr-slctd);
*/
}

.puzzle-object {
  padding: 3px;
  border: 4px solid var(--puzzle-grid-brdr-clr);

/*
  border-left-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-top-width: 4px;
*/
  border-radius: 3%;
  /*
  border-style: solid;
  border-color: #888;
  background-color: var(--program-bg-clr);
  background-color: inherit;
  border-color: inherit;
  border-top-color: 
  border-right-color: var(--puzzle-grid-brdr-clr);
  border-left-color: var(--puzzle-grid-brdr-clr);
  border-bottom-color: var(--puzzle-grid-brdr-clr);
*/
}

/*
.puzzle-object {
  padding: 5px;
  border-width: 3px;
  border-style: outset;
  border-color: #ffee00;
  background-color: @program-bg_clr;
}
*/

.puzzle-object:hover {
  background-color: var(--puzzle-bg-hover-clr);
  /*color: white;*/
}


.table-item-label {
  background-color: transparent;
  color: cyan;
  padding: 0px;
  padding-left: 10px;
}

.table-item-comment {
  background-image: none;
  background-color: cyan;
  color: var(--program-bg-clr);
  padding: 0px;
  margin-left: 0px;
  margin-bottom: 5px;
  font-weight:bold;
}

.puzzle-image {
  background-color: var(--puzzle-image-bg-clr);
  padding: 3px;
  border-radius: 3%;
}

progressbar {
  color: rgb(19, 70, 70);
}

progressbar.horizontal {
  border:rgb(54, 0, 46) solid 3px;
}

progressbar > trough {
  height: 10px;
}

/*
progressbar trough progress {
  background-color: cyan;
  color: cyan;
  background-color: rgb(234, 0, 255);
  padding: 3px 0px 3px 0px;
  text-decoration-color:#2399b1;
  caret-color: rgb(18, 210, 60);
  min-width: 5px;
  min-height: 15px;
  background-image: none;
  font-weight: bold;
}
*/


/*
.sidebar-label:activated {
  background-color: #5e0303;
}
*/
/*
#sidebar text-button {
  border-width: 0px;
  border-style: none;
}
*/
/*
.puzzle-object picture {
  padding: 10px;
  border-width: 3px;
  border-style: outset;
  border-color: #ffee00;
}

box {
  border-width: 3px;
  border-style: outset;
  border-color: #ffee00;
}
*/